/* audio player */

.audioPlayer {
    position: absolute;
    top: 84%;
    left: 3%;
    opacity: 0;
}

.previewPlayer {
    animation-name: previewPlayer;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    top: 93%;
} @keyframes previewPlayer {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.backward-icon {
    color: whitesmoke;
    position: absolute;
    top: -97px;
    left: 70px;
    cursor: pointer;
}

.play-icon {
    color: whitesmoke;
    position: absolute;
    top: -105px;
    left: 125px;
    cursor: pointer;
}

.play-icon:hover .hint {
    animation-name: playerHint;
    animation-delay: 1s;
    animation-fill-mode: forwards;
} @keyframes playerHint {
    to { visibility: visible; }
}

.forward-icon {
    color: whitesmoke;
    position: absolute;
    top: -97px;
    left: 195px;
    cursor: pointer;
}

.duration {
    color: whitesmoke;
    position: absolute;
    top: 5px;
    left: 75px;
    font-size: 19px;
}

.volume-icon {
    color: whitesmoke;
    position: absolute;
    top: 0px;
    left: 180px;
    cursor: pointer;
}
