/* Desktop-5 */

body { 
    font-family: sans-serif; 
    padding: 1em; 
    display: flex;
    justify-content: center;
    background-color: #FCF7F4;
}

li { list-style-type: none; }

.ais-SearchBox { margin: 1em 0; }

.main{
    background: #FCF7F4;
    display: flex;
    justify-content: center;
}

.upBlock{
    position: relative;
    width: 1323px;
    height: 600px;
    top: 50px;
    margin: 0 auto;

    z-index: 1;
    display: flex;
    justify-content: center;

    background: #FCF7F4;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    /* -webkit-filter: drop-shadow(0px 0px 12px #c9c9c9);
    filter: drop-shadow(0px 0px 12px #c9c9c9); */
}

.moveUpBlock {
    animation-name: moveUpBlock;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
} @keyframes moveUpBlock {
    100% {
        transform: translate(0px, -77px);
        height: 125px;
        width: 1853px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        filter: none;
    }
}

.downBlock{
    position: relative;
    width: 1323px;
    height: 200px;
    top: 50px;
    margin: 0 auto;

    z-index: 1;

    display: flex;
    justify-content: center;

    background: #FCF7F4;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    /* -webkit-filter: drop-shadow(0px 12px 0px #c9c9c9);
    filter: drop-shadow(0px 12px 0px #c9c9c9); */
}

.moveDownBlock {
    animation-name: moveDownBlock;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
} @keyframes moveDownBlock {
    100% {
        transform: translate(0px, 719px);
        height: 50px;
        width: 1853px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.title {
    position: absolute;
    height: 93px;
    top: 30%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 79px;
    line-height: 93px;
    color: #da3c36;
}

.searchbox{
    position: absolute;
    width: 70%;
    top: 75%;
    margin: 0 auto;
}

.ais-SearchBox-form{
    position: absolute;
    display: flex;
    justify-content: center;
}

.ais-SearchBox-input{
    position: absolute;
    height: 70px;
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0 60px 0 20px;
    font-size: 30px;
}

.submitBtn {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 97.5%;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    transform: none;
}

.submitIcon {
    position: absolute;
    width: 75%;
    height: 75%;
    top: 55%;
    background: #FFFFFF;
}

.resetBtn {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 96.5%;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    transform: none;
}

.resetIcon {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 55%;
    left: 35px;
    background: #FFFFFF;
}

.ais-SearchBox-submit svg path{
    fill: #000000 !important;
}

.ais-SearchBox-reset svg path{
    fill: #000000 !important;
}

/* Desktop-6 */

.movingTitle {
    animation-name: moveTitle;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
} @keyframes moveTitle {
    100% {
        transform: translate(-725px, -37px);
        font-size: 40px;
        line-height: 48px;
    }
}

.movingSearchbox {
    animation-name: moveSearchbox;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
} @keyframes moveSearchbox {
    100% {
        transform: translate(0px, -62px);
        width: 50%;
    }
}

.ais-InfiniteHits {
    position: absolute;
    top: -45%;
    left: 30%;
    width: 725px;
    height: 1820px;

    overflow: scroll;
    scroll-behavior: smooth;
    transform: rotate(-90deg);
    transform-origin: center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.displayHits {
    animation-name: moveInfiniteHits;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
} @keyframes moveInfiniteHits {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Arrow */

.floatingArrow {
    color: slategray;
    cursor: pointer;
    z-index: max;
}

.displayArrow {
    animation-name: displayArrow;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
} @keyframes displayArrow {
    from { opacity: 0;   }
    to   { opacity: 0.8; }
}

.focusArrow {
    animation-name: focusArrow;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
} @keyframes focusArrow {
    100% { transform: scale(1.1); }
}

.leftArrow {
    position: absolute;
    top: 47%;
    left: 1%;
}

.rightArrow {
    position: absolute;
    top: 47%;
    left: 95%;
}

.hint {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    white-space: nowrap;
    position: absolute;
    z-index: max;
    font-size: 13px;
}