.main{
    background: white;
    position: absolute;
    left:0%;
    top:0%;
    bottom: 0%;
    right: 0%;
}
.left{
    background: #313144;
    left:5%;
    top:10%;
    bottom: 10%;
    right: 35%;
    border-radius: 1.5rem;
    -webkit-filter: drop-shadow(0px 0px 12px #c9c9c9);
    filter: drop-shadow(0px 0px 12px #c9c9c9);
    
    width: 60%;
    float:left;
    position:fixed;
}
#searchbox{
    top:60%;
    left:10%;

    position: absolute;
}
/*.ais-SearchBox-form{
    top:300px;
    position: absolute;
}*/
.ais-SearchBox-input{
    position: absolute;
    height: 70px;
    width: 60%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0 60px 0 20px;
    font-size: 18px;
}
.ais-SearchBox-reset{
    position: absolute;
    left:80%;
    /*top:200px;*/
}
.hits{
    float:left;
    top:0%;
    bottom:0%;
    left: 70%;
    right: 5%;
    position:fixed;
    overflow-x: scroll;
}
li { list-style-type: none; }
.top{
    width: 300px;
    height: 440px;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;

    float:left;
    position: relative;
    perspective: 1000px;
}
.row{
    width: 300px;
    height: 420px;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    -webkit-filter: drop-shadow(0px 0px 12px #afafaf);
    filter: drop-shadow(0px 0px 12px #afafaf);

    float: left;
    position: relative;
    perspective: 1000px;
}
.front,.back{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    border-radius: 1.2rem;

    backface-visibility: hidden; /*html 元素背後不可看見*/
    transition: .8s;
}
.front{
    transform: rotateY(0deg);
    background-color: #161629;
}
img{
    height:300px; 
    width:300px;
    border-radius: 1.2rem 1.2rem 0 0;
    z-index: 5;

    position: absolute;
    left: 0%;
}
.info{
    position: absolute;
    top:320px;
    bottom: 20px;
    left: 5%;
    right: 5%;
}
.description{
    visibility: hidden;
    font-family: 'Nunito Sans', sans-serif;
    position: absolute;
    top:230px;
    bottom: 30px;
    font-size: 15px;
    line-height: 24px;
    color:#DEDEDE;

    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.hit-publisher{
    font-family: 'Nunito Sans', sans-serif;
    position: absolute;
    top:0%;
    left:0%;
    font-size: 15px;
    color:#DEDEDE;

    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.hit-episode{
    font-family: 'Nunito Sans', sans-serif;
    position: absolute;
    top:35%;
    left:0%;

    font-size: 18px;
    line-height: 24px;
    color:white;

    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.hit-publisher .ais-Highlight-highlighted {
    font-size: 15px;
    color:white;
    background: linear-gradient(to bottom,transparent,transparent 50%,#B0120F 50%,#B0120F 85%,transparent 85%);
}
.hit-episode .ais-Highlight-highlighted {
    font-size: 18px;
    color:white;
    background: linear-gradient(to bottom,transparent,transparent 50%,#B0120F 50%,#B0120F 80%,transparent 80%);
}
.back{  
    background-color: #26262e;
    transform: rotateY(-180deg);
    display: none;
   
}
.row:hover img{
    animation: img_shink 0.8s;
    animation-fill-mode: forwards;
}
.row:hover .info{
    animation: info_raise 0.8s;
    animation-fill-mode: forwards;
}
.row:hover .description{
    animation: description_show 0.8s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}
@keyframes img_shink {
    100% { 
        height:100px; 
        width:100px;
        border-radius: 0.3em;
        
     }
}
@keyframes info_raise {
    100% { 
        top:120px;
        bottom: 220px;
    }
}
@keyframes description_show {
    0%{
        visibility: visible;
        color:#161629;
    }
    100% { 
        visibility: visible;
        color:#DEDEDE;
        top:220px;
        bottom: 20px;
    }
}
.ais-InfiniteHits-loadMore{
    display:none;
}
.row:hover .playButton{
    animation: btn_shink 0.8s;
    animation-fill-mode: forwards;
}

.row:hover .stopButton{
    animation: btn_shink 0.8s;
    animation-fill-mode: forwards;
}
.playButton, .stopButton{
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 30%;
}

.playButton {
    z-index: 1;
    opacity: 0.3;
}

.stopButton {
    z-index: 0;
    opacity: 0;
}
