/* for card fliping */

.flipcard {
    background-color: transparent;
    
    /* center flipcard in item */
    margin: auto;

    /* size of flipcard */
    width: 20em;
    height: 26em;
    /*  */
    
    /* transform: preserve-3d */
    perspective: 1000px;
}

.flipcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    /* for animation */
    transition: transform 0.4s;
    transform-style: preserve-3d;
    /* shadow effect */
    box-shadow: 0 1em 2em 0 rgba(0,0,0,0.2);
    /* round corners */
    border-radius: 8px;
}
  
.flipcard:hover .flipcard-inner {
    transform: rotateY(180deg);
}
  
.flipcard-front, .flipcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* safari */
    -webkit-backface-visibility: hidden; 
    /* round corners */
    border-radius: 8px;
}
  
.flipcard-front {
    background-color: #f1f4f7;
    transform: rotateY(0deg);
}
  
.flipcard-back {
    z-index: -1;
    background-color: #f1f4f7;
    transform: rotateY(180deg);
}


/* for page -> item */

img {
    /* place center in container */
    margin: auto;
    margin-top: 1em;
    max-width:100%;
    max-height:100%;
}

/* margin between instantSearch items */
.ais-InfiniteHits-item + .ais-InfiniteHits-item {
    margin-top: 30px;
}

.ais-InfiniteHits-item {
    margin: auto;
}

/* text collapse when overlimit */
.hit-episode, .hit-publisher, .hit-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.hit-episode {
    font-size: larger;
    /* number of lines to show */
    -webkit-line-clamp: 2;
}

.hit-publisher {
    font-size: small;
    -webkit-line-clamp: 1;
}

.hit-description {
    font-size: small;
    -webkit-line-clamp: 5;
}


/* for searchbox */

.searchBar {
    position: fixed;
    left: 0%;
    top: 50%;
}

.ais-SearchBox { margin: 1em 0; }


/* remove infiniteHit number */

li {
  list-style-type: none;
}
