<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- InstantSearch CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/templates/basic_search.css" />
    <link rel="stylesheet" href="./shrink.css" />
    <script src="https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch@0.3.2/dist/instant-meilisearch.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"></script>
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <main class="main">
        <div class="left">
          <div id="projectName">Fancy Search Name</div>
          <div id="searchbox"></div>
        </div>
        <div class="hits" id="hits">
          <div class="top"></div>
        </div>
        <div class="bottom"></div>
        <div style="clear:both;"></div>
    </main>
  </body>
  <style>
    body { font-family: sans-serif; padding: 1em; }
    .ais-SearchBox { margin: 1em 0; }
  </style>
  <script>
    const search = instantsearch({
      // MeiliSearch Index name
      indexName: "podcast",
      // MeiliSearch Server url
      searchClient: instantMeiliSearch(
        "http://localhost:7700"
      )
    });

    search.addWidgets([
      instantsearch.widgets.searchBox({
        // html id of your searchbox
        container: "#searchbox",
        // what will appear when nothing is typed
        placeholder: "Search your podcast ...",
        // input auto focus (default false)
        autofocus: true,
        showSubmit: false,
        // searchAsYouType (default true)
        // showSubmit(button) (default true)
        // showLoadingIndicator (default false)
      }),
      instantsearch.widgets.configure({ 
        hitsPerPage: 10
      }),
      instantsearch.widgets.infiniteHits({
        container: "#hits",
        templates: {
          empty: 'No results for <q>{{ query }}</q>',
          showMoreText: `
          <div class="show_more">
              <h4>show more results</h4>
          </div>`,
          item(hit){
            return`
              <div class="row">
                <audio class="audio" id="${hit.episode_uri}">
                  <source src="${hit.episode_audio}" type="audio/x-m4a" />
                </audio>   
                <div class="back">
                  <div class="img">
                    <img class="poster" src="${hit.poster}"/>
                    <img class="stopButton" src="./stop.webp" 
                      id = "${hit.episode_uri}_stopButton"
                    />
                    <img class="playButton" src="./play.png" 
                      id="${hit.episode_uri}_playButton"
                      onclick="audio = document.getElementById('${hit.episode_uri}');
                        playBtn = document.getElementById('${hit.episode_uri}_playButton');
                        stopBtn = document.getElementById('${hit.episode_uri}_stopButton');
                        if (playBtn.style.opacity != 0) {
                          audio.volume = 0.3;
                          audio.play();
                          playBtn.style.opacity = 0;
                          stopBtn.style.opacity = 0.3;
                        } else {
                          audio.pause();
                          playBtn.style.opacity = 0.3;
                          stopBtn.style.opacity = 0;
                        };
                      "
                    />
                  </div>
                  <div class="info">
                    <p class="hit-show">
                      ${instantsearch.highlight({ attribute: 'show_name', highlightedTagName: 'mark', hit })}
                    </p>
                    <p class="hit-episode">
                      ${instantsearch.highlight({ attribute: 'episode_name', highlightedTagName: 'mark', hit })}
                    </p>
                  </div>
                  <div class="description">
                    ${instantsearch.highlight({ attribute: 'episode_description', highlightedTagName: 'mark', hit })}
                  </div> 
                </div>          
              </div>`;
          }
        }
      })
    ]);
    search.start();
  </script>
</html>