<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/templates/basic_search.css" />
</head>
  
  <body>
    <main id="app" class="main" @click="firstclick = true">
      <ais-instant-search index-name="podcast" 
      :search-client="searchClient">
        <div class="barBlock">
          <p class="title" :class="{ movingTitle: moveTitle}">
             {{ title }}
          </p>
          <ais-search-box :class="{ movingSearchbox: moveSearchBar }"
            placeholder="Search for the Podcast ..." autofocus
            :class-names="{
              'ais-SearchBox-submit': 'submitBtn',
              'ais-SearchBox-submitIcon': 'submitIcon',
              'ais-SearchBox': 'searchbox',
            }"
          ></ais-search-box>
          <ais-infinite-hits v-show="displayHits">
            <template v-slot:item="{ item, index }">
              <div class="singlehit"
                @mousedown="previewURI = item.episode_uri"
                @mouseout="previewURI = null">
                <!-- <a href="http://localhost:5000/episode/${hit.episode_uri}"> -->
                <div v-if="!preview" class="card">
                  <div class="img">
                    <img class="poster" :src="item.poster"/>
                  </div>
                  <div class="info">
                    <p class="hit-episode">
                      <ais-highlight 
                        attribute="episode_name" 
                        :hit="item" />
                      {{ item.episode_name }}
                    </p>
                  </div>
                </div>
                <div v-if="previewURI === item.episode_uri">
                  <p class="hit-publisher">
                    {{ item.show_name }}
                    <!-- ${instantsearch.highlight({ attribute: 'show_name', highlightedTagName: 'mark', hit })} -->
                  </p>
                  <p class="description">
                    {{ item.episode_description }}
                    <!-- ${instantsearch.highlight({ attribute: 'episode_description', highlightedTagName: 'mark', hit })} -->
                  </p>
                </div>
                <!-- </a> -->
              </div>
            </template>
          </ais-infinite-hits>
        </div>
      </ais-instant-search>
    </main>
  </body>
    
  <!-- MeiliSearch CDN -->
  <script src="https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch@0.3.2/dist/instant-meilisearch.umd.min.js"></script>
  <!-- Vue CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <!-- vue-instant-search CDN -->
  <script src="https://unpkg.com/vue-instantsearch@4.1.1/vue2/umd/index.js"></script>
  <!-- local Vue js -->
  <script src="../static/vue.js"></script>
  <!-- local css -->    
  <link rel="stylesheet" href="../static/reset.css">
  
</html>
